
// Colorsitos
// 005A4E
$imss-verde: #005A4E;
$imss-beige:#D9C9A8;
$imss-gris: #D9D9D9;
$rojo: #5A0000;
$azul: #003A5A;

// IMSS map
$paleta-imss: (
    "imss-verde":$imss-verde,
    "imss-beige": $imss-beige,
    "imss-gris": $imss-gris,
    "rojo": $rojo,
    "azul": $azul
);

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../fonts/Montserrat-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  } 
  
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  } 

@import '../../../node_modules/bootstrap/scss/bootstrap-grid';

// Importa los estilos básicos de Bootstrap
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Importa los estilos del navbar y sus dependencias
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/dropdown";


$theme-colors: map-merge($theme-colors, $paleta-imss);



// MIXINS 
@mixin shadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}



// HTML TAGS

html, body{
    margin: 0 !important;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    margin: 1rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: inherit;
}

h2, h3, h4{
    text-align: center;
    font-family: 'Montserrat-Light', sans-serif;
    color: $imss-gris;
}

h1,h5{
    text-align: left;
    font-family: 'Montserrat-Medium';
    color: $imss-gris;
}

footer{
    justify-content: space-between;
    background-color: $imss-verde;
    margin-top: auto;
  
    width: 100%;
}

//

.space-around{
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

//


.light-label{
    font-family: 'Montserrat-Bold';
    color: $imss-gris;
    font-weight: bolder;
    align-self: center;
}

.dark-label{
    font-family: 'Montserrat-Bold';
    color: $imss-verde;
    align-self: left;
    margin: 1rem;
}

.text-input-beige{
    background-color: $imss-gris;
    border:$imss-verde;
    border-radius: 5px;
    color: $imss-verde;
    margin-left: 1rem;
    padding: 5px;
    font-family: 'Montserrat-Medium';
    @include shadow();
}

// DETALLITO
.text-input-beige:focus-visible{
    border: $imss-verde;    
}

.text-input{
    background-color: white;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: $imss-verde;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    @include shadow();
}

td .text-input{
    text-align: end;
}

.text-input.bloqueado{
    background-color: transparent;
    box-shadow: none;
}

.btn-beige{
    background-color: $imss-beige;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Montserrat-Bold';
    color: $imss-verde;
    @include shadow();
}

.btn-verde{
    background-color: $imss-verde;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Montserrat-Bold';
    color: $imss-gris;
    margin-top: 1rem;
    @include shadow();
}

.btn-beige:hover, .btn-verde:hover{
    cursor: pointer;
}

// BANNER 

.banner{
    background-color: $imss-verde;
}

.linea{
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: $imss-gris;
    margin: 1rem;
    padding-left: 1rem;
}

.barra{
    height: 20px;
    width: 100%;
    background-color: $imss-beige;
}

// ICONO USUARIO

.nombre-usuario{
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    text-align: start;
    color: $imss-verde;
}

.tipo-usuario{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    text-align: left;
    color: $imss-verde;
}

.texto-hint{
    font-family: 'Montserrat-Bold';
    font-size: 1rem;
    color: $imss-verde;
}

// SIDEBAR

/* Estilos para la barra lateral */
.sidebar {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
.sidebar ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }
  
.sidebar-item, .sbi {
    font-family: 'Montserrat-Bold';
    display: block;
    padding: 1rem;
    color: $imss-verde;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
  }
  
.sidebar-item:hover, .sbi:hover {
    background-color: #eeeeee;
  }
  
.sidebar-item.activo {
    background-color: $imss-gris;
  }


.dropdown{
    position: relative;
}

.dropdown-menu {
    display: none;
    position: relative;
    left: 10px;
    padding: 10px;
  }
  
.dropdown-menu .sidebar-item{
    font-family: 'Montserrat-Regular';
    display: block;
    padding: 10px;
    color: $imss-verde;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
}  

.dropdown.active .dropdown-menu {
    display: block;
}
  
.logout{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    text-decoration: none;
    color: $imss-verde;
    border-radius: 20px;
    padding: 10px;
}

.logout:hover{
    background-color: $imss-beige;
}

  .contenido {
    display: none;
}

.contenido.activo {
    padding: 1rem;
    display: block;
    background-color: $imss-gris;
    height: auto;
    border-radius: 0 20px 20px 0;
}
