// Colorsitos
// 005A4E
$imss-verde: #005A4E;
$imss-beige:#D9C9A8;
$imss-gris: #D9D9D9;
$rojo: #5A0000;
$azul: #003A5A;
$error: #943434;

// IMSS map
$paleta-imss: (
    "imss-verde":$imss-verde,
    "imss-beige": $imss-beige,
    "imss-gris": $imss-gris,
    "rojo": $rojo,
    "azul": $azul
);

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../fonts/Montserrat-Light.ttf') format('truetype');
    unicode-range: U+000-5FF;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
    unicode-range: U+000-5FF;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
    unicode-range: U+000-5FF;
    font-display: block;
} 
  
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
    unicode-range: U+000-5FF;
    font-display: block;
} 

@import '../../../node_modules/bootstrap/scss/bootstrap-grid';



$theme-colors: map-merge($theme-colors, $paleta-imss);



// MIXINS 
@mixin shadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}



// HTML TAGS

html, body{
    margin: 0 !important;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    margin: 1rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: inherit;
}

h2, h3, h4{
    text-align: center;
    font-family: 'Montserrat-Light', sans-serif;
    color: $imss-gris;
}

h1,h5{
    text-align: left;
    font-family: 'Montserrat-Medium';
    color: $imss-gris;
}

footer{
    justify-content: space-between;
    background-color: $imss-verde;
    margin-top: auto;
  
    width: 100%;
}

//

.space-around{
    margin: 1rem;
    justify-content: space-around;
}

.space-between{
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

//

.light-label{
    font-family: 'Montserrat-Bold';
    color: $imss-gris;
    font-weight: bolder;
    align-self: center;
}

.dark-label{
    font-family: 'Montserrat-Bold';
    font-size: 15px;
    color: $imss-verde;
    text-align: left;
}

.text-input-beige{
    background-color: $imss-gris;
    border:$imss-verde;
    border-radius: 5px;
    color: $imss-verde;
    margin-left: 1rem;
    padding: 5px;
    font-family: 'Montserrat-Medium';
    @include shadow();
}

// DETALLITO
.text-input:focus-visible, .text-input-beige:focus-visible, .opciones:focus-visible{
    outline: none;
}

.text-input{
    font-family: 'Montserrat-Medium';
    color: $imss-verde;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    resize: none;
    @include shadow();
}

.opciones{
    width: 100%;
    border: none;
    font-family: 'Montserrat-Medium';
    color: $imss-verde;
    border-radius: 5px;
    padding: 5px;
    margin-left: 0 !important;
    @include shadow();
}

option:target{
    background-color: $imss-verde;
    color: $imss-gris;
}

.datos{   
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: $imss-verde;
    justify-content: end;
    align-items: end;
    text-align: end;
}

.text-input[readonly]{
    background-color: rgba(230, 230, 230, 0.5);
}

textarea{
    height: 5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ -webkit-appearance: none; margin: 0; }


.foto_usuario{
    width: 20cqw;
    height: 20cqw;
    border-radius: 10px;
    margin: 1rem;
    object-fit: cover;
    object-position: 50% 20%;
}

.btn-beige{
    background-color: $imss-beige;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Montserrat-Bold';
    color: $imss-verde;
    @include shadow();
}

.btn-verde{
    min-width: 40px;
    min-height: 40px;
    background-color: $imss-verde;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: .5rem 1rem;
    font-family: 'Montserrat-Bold';
    color: $imss-gris;
    @include shadow();
}

.btn-azul{
    width: 40px;
    height: 40px;
    background-color: $azul;
    border: none;
    border-radius: 10px;
    padding: 3px;
    margin: .5rem 1rem .5rem 0;
    @include shadow();
}

.btn-rojo{
    width: 40px;
    height: 40px;
    background-color: $rojo;
    border: none;
    border-radius: 10px;
    padding: 3px;
    margin: .5rem 0;
    @include shadow();

}

.btn-beige:hover, .btn-verde:hover,
.btn-azul:hover, .btn-rojo:hover,
.img-btn:hover, .close:hover{
    cursor: pointer;
}

.img-btn{
    background-color: #ffffff;
    border: none;
    color: $imss-verde;
    font-family: 'Montserrat-Bold';
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    @include shadow();
}
.img-btn[disabled]{
    background-color: $imss-gris;
    cursor: not-allowed;
}

// BANNER 

.banner{
    background-color: $imss-verde;
}

.linea{
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: $imss-gris;
    margin: 1rem;
    padding-left: 1rem;
}

.barra{
    min-height: 1rem;
    height: 1rem;
    width: 100%;
    background-color: $imss-beige;
}

// ICONO USUARIO

.nombre-usuario{
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    text-align: start;
    color: $imss-verde;
}

.tipo-usuario{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    text-align: left;
    color: $imss-verde;
}

.texto-hint{
    font-family: 'Montserrat-Bold';
    font-size: 1rem;
    color: $imss-verde;
}


/*
            COMPONENTES CSS + JS
*/

// SIDEBAR

/* Estilos para la barra lateral */
.sidebar {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
.sidebar ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }
  
.sidebar-item, .sbi {
    font-family: 'Montserrat-Bold';
    display: block;
    padding: 1rem;
    color: $imss-verde;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
  }
  
.sidebar-item:hover, .sbi:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }
  
.sidebar-item.activo {
    background-color: $imss-gris;
  }


.dropdown{
    position: relative;
}

.dropdown-menu {
    display: none;
    position: relative;
    left: 10px;
    padding: 10px;
  }
  
.dropdown-menu .sidebar-item{
    font-family: 'Montserrat-Regular';
    display: block;
    padding: 10px;
    color: $imss-verde;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
}  

.dropdown.active .dropdown-menu {
    display: block;
}
  
.logout{
    text-decoration: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: $imss-verde;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.logout:hover{
    background-color: $imss-beige;
}

.contenido {
    display: none;
}

.contenido.activo {
    padding: 2rem;
    display: block;
    background-color: $imss-gris;
    min-height: 65vh;
    border-radius: 0 20px 20px 0;
}


// SNACKBAR

#snackbar {
    font-family: 'Montserrat-Bold';
    visibility: hidden;
    background-color: $imss-beige; 
    color: $imss-verde;
    text-align: center; 
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 2;
    width: fit-content;
    bottom: 3rem; 
    left: 50%;
    transform: translate(-50%);
}
  
#snackbar.show {
    visibility: visible; 
    animation: fadein 0.6s, fadeout 0.6s 2.5s;
}

#snackbar.error {
    background-color: $error;
    color: $imss-gris;
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 3rem; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 3rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


// MODAL

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(30,30,30,0.5);
}
  
.contenido-modal {
    position: relative;
    overflow-y: auto;
    background-color: $imss-gris;
    margin: 1.75rem auto;
    padding: 4rem;
    border-radius: 15px;
    max-height: 70vh;
    align-self: center;
    vertical-align: middle;
    width: 30%;
    }
  
.close {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    color: $imss-verde;
    font-size: 2rem;
    font-weight: bold;
}
  
.f{
    margin-bottom: 0;
    width: 100%;
    margin-top: 4vh;
}

.watermark{
    padding: 1rem;
    text-align: end;
    background-color: $imss-verde;
    font-family: 'Montserrat-Regular';
    color: $imss-gris;
    font-size: 13px;
}

.footer-pleca{
    margin: auto;
    background-image:url(https://framework-gb.cdn.gob.mx/landing/img/pleca.svg);
    background-color: $imss-verde;
    background-repeat: repeat-x;
}


.tabla {
    border-collapse: collapse;
}

.tabla tbody tr {
    border-bottom: solid 1px;
    border-color: rgba(0, 90, 78, 0.25) !important;
    padding-bottom: 1rem;
}

.tabla tbody tr:hover {
    border-radius: 20px;
    background-color: rgba(0, 90, 78, 0.1);
    border-bottom: solid 1px;
    cursor: default;
}

th {
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    color: $imss-verde;
}

td {
    font-family: 'Montserrat-Regular';
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: $imss-verde;

}

.tooltiptext {
    visibility: hidden;
    background-color: $imss-beige;
    color: $imss-verde;
    font-family: 'Montserrat-Bold';
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;  
}
  
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

  .btn-azul:hover .tooltiptext, .btn-rojo:hover .tooltiptext, .btn-verde:hover .tooltiptext, .img-btn:hover .tooltiptext  {
    visibility: visible;
    animation: appear 0.6s, disappear 0.6s 2.5s;
}