<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>SIMAPE | Iniciar Sesión </title>

    <%- include('templates/header')%>
    <main class="">
            <div class="row justify-content-center">
                <img src="/imgs/labuena.png" alt="placeholder" style="height: 55vh;">
            </div>
    </main>
       <%- include('templates/footer')%>