<!DOCTYPE html>
<html lang="es">
<head>
    <title>SIMAPE | Página principal </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <link href="/scss/styles.css" rel="stylesheet" type="text/css" loading="lazy" rel="preload"/>

    <script defer src="/socket.io/socket.io.min.js"></script>
    <script src="/js/test/test.js" type="module" loading="lazy" rel="preload"></script>
    <script src="/js/perfil.js" type="module" loading="lazy" rel="preload"></script>
    <script src="/js/modals.js" type="module" loading="lazy"></script>
    <script src="/js/sidebar.js" type="module" loading="lazy"></script>
    <script src="/js/tipoPension.js" loading="lazy" defer></script>
    <script src="/js/consultaExpediente.js" type="module" loading="lazy"></script>
    <script src="/js/altaExpediente.js" type="module" loading="lazy"></script>
    <script src="/js/bajaExpediente.js" type="module" loading="lazy"></script>
    <script src="/js/transferenciaExpediente.js" type="module" loading="lazy"></script>
    <script src="/js/controlUsuarios.js" type="module" loading="lazy"></script>
</head>
<body>
    
    <%- include('templates/banner')%>
    
    <div class="container">

        <div class="row space-around">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="row justify-content-start align-items-center">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <img src="/icons/pfp.png" alt="Fotografia del usuario" loading="lazy">
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="row"><span class="nombre-usuario" id="nombreBanner"></span></div>
                        <div class="row"><span class="nombre-usuario" id="apellidoBanner"></span></div>
                        <div class="row"><p class="tipo-usuario" id="tipoUsuarioBanner"></p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="d-flex justify-content-center">
                    <div class="col-lg-2 col-md-2 col-sm-12"><img src="/icons/hint.png" alt="Ícono para el título de la pestaña" loading="lazy"></div>
                    <div class="col-lg-10 col-md-10 col-sm-12"><p class="texto-hint">DATOS DEL USUARIO</p></div>
                </div>
            </div>
        </div>

        <%- include('templates/sidebar-ad')%>

    </div>
</div>

</body>

<%- include('templates/footer-pleca')%>