<div class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="d-flex space-around">
                    <img src="/imgs/imss-logo.png" alt="Logo IMSS" style="height: 70px; width: auto;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex space-around">
                    <h1>SIMAPE</h1>
                    <div class="linea">
                        <h5>SISTEMA DE MANEJO DE EXPEDIENTES DEL DEPARTAMENTO DE PENSIONES</h5>   
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="d-flex space-around">
                    <img src="" alt="ESCUDO">
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="barra"></div>