<!--<script src="../../src/assets/js/main.js" type="module"></script>-->

    <footer>
        <div class="barra"></div>
        <div class="space-around">         
            <div class="row">
                <div class="col-lg-2">
                    <img src="/imgs/escudo-der.png" alt="ESCUDO" style="width:80%">
                </div>
                <div class="col-lg-7"> 
                    <div class="row space-around">
                        <div class="col-2">
                            <img src="/imgs/imss-logo.png" alt="Logo IMSS" style="height: 100px; width: auto;">
                        </div>
                        <div class="col-10">
                            <h3>INSTITUTO MEXICANO DEL SEGURO SOCIAL</h3>
                            <h3>SISTEMA DE MANEJO DE EXPEDIENTES DEL DEPARTAMENTO DE PENSIONES</h3>
                        </div>
                     </div>
                </div>

                <!--LOG IN-->
                <div class="col-lg-3">
                    <form action="login" method="post">
                    
                        <div class="d-flex justify-content-end mt-5">
                            <label class="light-label" for="user">USUARIO</label>
                            <input type="text" name="username" id="username" class="text-input-beige"/>
                        </div>
                        
                        <div class="d-flex justify-content-end mt-3">
                          <label class="light-label" for="password">CONTRASEÑA</label>
                          <input type="password" name="password" id="password" class="text-input-beige"/>
                        </div>
                  
                        <div>
                          <div class="d-flex space-around">
                            <button type="submit" class="btn-beige">INGRESAR</button>
                          </div>
                        </div>
                  
                      </form>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>