<div class="f">
    <div id="snackbar" class="invisible"></div>

    <div class="watermark">
        <p>Universidad Tecnológica de San Juan del Río</p>        
        <p>Subdelegación IMSS San Juan del Río</p>
        <p>SIMAPE v1.0</p>
    </div>
    <div class="footer-pleca"><br><br></div>
</div>