<div id="modalAgregarUsuario" class="modal">

    <div class="contenido-modal">
      <span class="close" id="modalAgregarUsuarioClose">&times;</span>
      
      <div class="row">
        <h5 class="dark-label mb-5">AGREGAR USUARIO</h5>

        <form id="formAltaUsuario" enctype="multipart/form-data">
          <div class="col mb-4">
            <label class="datos" for="matriculaAltaUsuario">MATRÍCULA</label>
            <input type="number" class="text-input mt-3" id="matriculaAltaUsuario" name="matricula"/>
          </div>

          <div class="row space-between mb-4" style="padding: 0; margin: 0 -0.8em;">
            <div class="col-6">
              <label class="datos" for="nombreAltaUsuario">NOMBRE(S)</label>
              <input type="text" class="text-input mt-3" id="nombreAltaUsuario" name="nombre"/>
            </div>
            <div class="col-6">
              <label class="datos" for="apellidosAltaUsuario">APELLIDOS</label>
              <input type="text" class="text-input mt-3" id="apellidosAltaUsuario" name="apellidos"/>
            </div>
          </div>

          <div class="col mb-4">
            <label class="datos" for="usuarioAltaUsuario">USUARIO</label>
            <input type="text" class="text-input mt-3" id="usuarioAltaUsuario" name="usuario"/>
          </div>

          <div class="col mb-4">
            <label class="datos" for="passAltaUsuario">CONTRASEÑA POR DEFECTO</label>
            <input type="text" class="text-input mt-3" id="passAltaUsuario" name="pass"/>
          </div>
    
          <div class="col mb-4">
              <label class="datos" for="tipoAltaUsuario">TIPO DE USUARIO</label>
              <select class="opciones" id="tipoAltaUsuario" name="tipo_usuario" style="margin-top: 1rem;">    
                  <option value="separador">Selecciona una opción:</option>
                  <option value="OPERATIVO">OPERATIVO</option>
                  <option value="ADMINISTRADOR">ADMINISTRADOR</option>
              </select>
          </div>
    
          <div class="col mb-4">
            <label class="datos" for="adscripcionAltaUsuario">ADSCRIPCIÓN</label>
            <input type="text" class="text-input mt-3" id="adscripcionAltaUsuario" name="adscripcion" value="San Juan del Río" readonly/>
          </div>

          <div class="col justify-content-center align-items-center"> 
            <label class="datos"  style="text-align: center;" for="fotoAltaUsuario">FOTO</label>
          </div> 

          <div class="d-flex justify-content-center">
            <img src="/imgs/foto.png" alt="ICONO DE FOTO" class="foto_usuario col-sm-10 col-md-10 col-lg-10" id="fotoAltaUsuarioVista" loading="lazy"> 
          </div>

          <div class="row mb-4">
            <input type="file" accept="image/*" class="text-input mt-3 col" id="fotoAltaUsuario" name="foto"/>
          </div>

          <div class="col" style="text-align: center;">
            <button class="btn-verde" type="submit">DAR DE ALTA</button>
          </div>
        </form>
      </div>
    </div>
</div>