<div id="modalAgregarUsuario" class="modal">

    <div class="contenido-modal" style="justify-content: center;">
      <span class="close">&times;</span>
      
      <div class="col m-5">
        <h5 class="dark-label">AGREGAR USUARIO</h5>
      </div>

      <form action="POST" id="formAltaUsuario">
        <div class="col m-5">
          <label class="datos" style="text-align: center;" for="pass">MATRÍCULA</label>
    
          <input type="text" class="text-input mt-3" id="passActual"/>
        </div>

        <div class="col m-5">
          <label class="datos" for="pass">NOMBRE(S)</label>
    
          <input type="text" class="text-input mt-3" id="passNueva"/>
        </div>
        
        <div class="col m-5">
          <label class="datos" for="pass">APELLIDOS</label>
    
          <input type="text" class="text-input mt-3" id="passNueva"/>
        </div>

        <div class="col m-5">
            <label class="datos" for="pass">USUARIO</label>
      
            <input type="text" class="text-input mt-3" id="passNueva"/>
          </div>
  
        <div class="col m-5">
            <label class="datos" for="tipoUsuario">TIPO DE USUARIO</label>
            <select id="opciones" id="tipoUsuario" name="tipoUsuario" style="margin-top: 1rem;">    
                <option value="separador">Selecciona una opción:</option>
                <option value="OPERATIVO">OPERATIVO</option>
                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
            </select>
        </div>
  
        <div class="col m-5">
            <label class="datos" for="pass">ADSCRIPCIÓN</label>
      
            <input type="text" class="text-input mt-3" id="passNueva"/>
          </div>
  

    <div class="row justify-content-center">
      <button class="btn-verde" type="" style="width: 50%;">DAR DE ALTA</button>
    </div>
      </form>
    </div>
  
    <script>
    </script>
</div>