<div id="modalAgregarUsuario" class="modal">

    <div class="contenido-modal">
      <span class="close" id="modalAgregarUsuarioClose">&times;</span>
      
      <div class="row">
        <h5 class="dark-label mb-5">AGREGAR USUARIO</h5>

        <form id="formAltaUsuario">
          <div class="col mb-4">
            <label class="datos" style="text-align: center;" for="matriculaAltaUsuario">MATRÍCULA</label>
            <input type="text" class="text-input mt-3" id="matriculaAltaUsuario" name="matricula"/>
          </div>

          <div class="row space-between mb-4" style="padding: 0; margin: 0 -0.8em;">
            <div class="col-6">
              <label class="datos" for="nombreAltaUsuario">NOMBRE(S)</label>
              <input type="text" class="text-input mt-3" id="nombreAltaUsuario" name="nombre"/>
            </div>
            <div class="col-6">
              <label class="datos" for="apellidosAltaUsuario">APELLIDOS</label>
              <input type="text" class="text-input mt-3" id="apellidosAltaUsuario" name="apellidos"/>
            </div>
          </div>

          <div class="col mb-4">
            <label class="datos" for="usuarioAltaUsuario">USUARIO</label>
            <input type="text" class="text-input mt-3" id="usuarioAltaUsuario" name="usuario"/>
          </div>

          <div class="col mb-4">
            <label class="datos" for="passAltaUsuario">CONTRASEÑA POR DEFECTO</label>
            <input type="text" class="text-input mt-3" id="passAltaUsuario" name="pass"/>
          </div>
    
          <div class="col mb-4">
              <label class="datos" for="tipoUsuario">TIPO DE USUARIO</label>
              <select id="opciones" id="tipoUsuario" name="tipo_usuario" style="margin-top: 1rem;">    
                  <option value="separador">Selecciona una opción:</option>
                  <option value="OPERATIVO">OPERATIVO</option>
                  <option value="ADMINISTRADOR">ADMINISTRADOR</option>
              </select>
          </div>
    
          <div class="col mb-5">
            <label class="datos" for="adscripcionAltaUsuario">ADSCRIPCIÓN</label>
            <input type="text" class="text-input mt-3" id="adscripcionAltaUsuario" name="adscripcion" value="San Juan del Río" readonly/>
          </div>
    
          <div class="col" style="text-align: center;">
            <button class="btn-verde" type="submit">DAR DE ALTA</button>
          </div>
        </form>
      </div>
    </div>
</div>