<div id="modalPass" class="modal">

    <div class="contenido-modal">
      <span class="close">&times;</span>
      
      <div class="col m-5">
        <h5 class="dark-label">PARA CAMBIAR SU CONTRASEÑA LLENE LOS SIGUIENTES CAMPOS</h5>
     </div>

      <div class="col m-5">
        <label class="dark-label" for="pass">INGRESE SU CONTRASEÑA ACTUAL</label>
   
        <input type="text" class="text-input mt-3" id="passActual"/>
      </div>

      <div class="col m-5">
        <label class="dark-label" for="pass">INGRESE SU NUEVA CONTRASEÑA</label>
   
        <input type="text" class="text-input mt-3" id="passNueva"/>
      </div>
      
      <div class="col m-5">
        <label class="dark-label" for="pass">CONFIRME SU CONTRASEÑA</label>
   
        <input type="text" class="text-input mt-3" id="passNueva"/>
      </div>

    </div>
  
  </div>