<div id="modalEditarUsuario" class="modal">

    <div class="contenido-modal">
      <span class="close" id="modalEditarUsuarioClose">&times;</span>
      
      <div class="row">
        <h5 class="dark-label mb-5">EDITAR DATOS DEL USUARIO</h5>
    
        <form id="formEditarUsuario">

          <div class="row space-between mb-4" style="padding: 0; margin: 0 -0.8em;">
            <div class="col-6">
              <label class="datos" for="">NOMBRE(S)</label>
              <input type="text" class="text-input mt-3" id="" name="nombre"/>
            </div>
            <div class="col-6">
              <label class="datos" for="">APELLIDOS</label>
              <input type="text" class="text-input mt-3" id="" name="apellidos"/>
            </div>
          </div>
    
          <div class="col mb-4">
            <label class="datos" for="">USUARIO</label>
            <input type="text" class="text-input mt-3" id=""/>
          </div>
          
          <div class="col mb-4">
            <label class="datos" for="pass">CONTRASEÑA</label>
            <input type="text" class="text-input mt-3" id=""/>
          </div>

          <!--
          <div class="col mb-4">
            <label class="datos"  style="text-align: center;" for="">FOTO</label>
            <input type="file" accept="image/*" class="text-input mt-3" id="" name="foto"/>
          </div>
          -->

        </form>
      </div>
    </div>
  </div>