<div id="modalExtraerExpediente" class="modal">

    <div class="contenido-modal">
      <span class="close" id="modalExtraerExpedienteClose">&times;</span>
      
      <div class="row">
        <h5 class="dark-label mb-5">INGRESAR EXPEDIENTE</h5>

        <form id="formExtraerExpediente">
          <div class="col mb-4">
            <label class="datos" for="motivoExtraerExpediente">MOTIVO</label>
            <textarea type="text" class="text-input mt-3" id="motivoExtraerExpediente" name="motivo"></textarea>
          </div>
          <div class="col" style="text-align: center;">
            <button class="btn-verde" type="submit">EXTRAER</button>
          </div>
        </form>
      </div>
    </div>
</div>