<div id="modalReporte" class="modal">

    <div class="contenido-modal modal-reportes">
      <span class="close" id="modalReporteClose">&times;</span>
      
      <div class="row">
      </div>
    </div>
</div>