<div id="modalReporte" class="modal">

    <div class="contenido-modal modal-reportes">
      <span class="close" id="modalReporteClose">&times;</span>
      
      <div class="row">
        <h2>INFORMACIÓN GENERAL</h2>
        <p>Número de expediente: 12312312312</p>
        <p>Nombre: Juan Alberto Mendoza Ruiz</p>
        <p>Año: 2010</p>
        <p>Observaciones: </p>
        <p>Ubicación: Bodega</p>

        <h2>ALTA</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>REGISTRADO POR</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Ángel Diosdado Rodríguez</td>
                </tr>
            </tbody>
        </table>

        <h2>BAJA</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>DADO DE BAJA POR</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Ángel Diosdado Rodríguez</td>
                </tr>
            </tbody>
        </table>

        <h2>TRANSFERENCIA</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>TRANSFERIDO POR</th>
                <th>DELEGACIÓN RECEPTORA</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Ángel Diosdado Rodríguez</td>
                    <td>05 COAHUILA - 12 PIEDRAS NEGRAS</td>
                </tr>
            </tbody>
        </table>

        <h2>EXTRACCIONES</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>USUARIO</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
            </tbody>
        </table>

        <h2>INGRESOS</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>USUARIO</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                </tr>
            </tbody>
        </table>
        
        <h2>PRÉSTAMOS</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA EMISIÓN</th>
                <th>USUARIO EMISOR</th>
                <th>USUARIO RECEPTOR</th>
                <th>ESTADO</th>
                <th>FECHA RECEPCIÓN</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                    <td>Fernanda Montserrat Hernández Ávila</td>
                    <td>COMPLETADO</td>
                    <td>12-07-2023</td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Miguel Angel Diosdado Rodriguez</td>
                    <td>Fernanda Montserrat Hernández Ávila</td>
                    <td>PENDIENTE</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
        <h2>SUPERVISIONES</h2>
        <table class="tabla">
            <thead>
                <th>FOLIO</th>
                <th>FECHA</th>
                <th>SUPERVISOR</th>
                <th>ESTADO</th>
                <th>FECHA FINALIZACIÓN</th>
            </thead>
            <tbody id="tablaReporte">
                <tr>
                    <td>123</td>
                    <td>12-07-2023</td>
                    <td>Carlos Estrada</td>
                    <td>COMPLETADO</td>
                    <td>12-07-2023</td>
                </tr>
            </tbody>
        </table>

        
      </div>
    </div>
</div>