
    <div class="row">

        <div class="col-9">
            <form action="" method="" id="formBusqueda">
                <div class="row space-between">
                    <div class="col-2">
                        <label class="dark-label" for="nss">NSS</label>
                    </div>
                    <div class="col-10">
                        <input type="text" class="text-input" id="nss" name="nss"/>
                    </div>
                </div>
            </form>

            <div class="row space-between">
                <div class="col-3">
                    <label class="dark-label" for="nombre">NOMBRE</label>
                </div>
                <div class="col-9">
                    <input type="text" class="text-input" id="nombre"/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-5">
                    <label class="dark-label" for="tipoPension">TIPO DE PENSIÓN</label>
                </div>
                <div class="col-7">
                    <select id="opciones">
                        
                      <option value="">Selecciona una opción:</option>
                      <option value="tp1">TIPO DE PENSIÓN 1</option>
                      <option value="tp2">TIPO DE PENSIÓN 2</option>
                      <option value="tp3">TIPO DE PENSIÓN 3</option>
                    </select>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-4">
                    <label class="dark-label" for="ubicacion">UBICACIÓN</label>
                </div>
                <div class="col-8">
                    <input type="text" class="text-input" id="ubicacion"/>
                </div>
            </div>


            <div class="row space-between">
                <div class="col">
                    <label class="dark-label" for="observaciones">OBSERVACIONES</label> 
                    <textarea class="text-input mt-3" id="observaciones"></textarea>
                </div>
            </div>

        </div>

        
        <div class="col-3 vertical-center">
            <button class="img-btn">
                <img src="/icons/guardar.png" alt="GUARDAR" style="width: 35%;">
                <p>GUARDAR</p>   
            </button>
            <button class="img-btn">
                <img src="/icons/folder_cancelar.png" alt="CANCELAR" style="width: 35%;">
                <p>CANCELAR</p>   
            </button>
        </div>

    </div> 
