
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <form id="formAltaExpediente">
                <div class="row space-between">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <label class="dark-label" for="nssAltaExpediente">NSS</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <input type="number" class="text-input" id="nssAltaExpediente" name="nss"/>
                    </div>
                </div>

                <div class="row space-between">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label class="dark-label" for="nombreAltaExpediente">NOMBRE</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <input type="text" class="text-input" id="nombreAltaExpediente" name="nombre"/>
                    </div>
                </div>

                <div class="row space-between">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <label class="dark-label" for="tipoPensionAltaExpediente">TIPO DE PENSIÓN</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <select class="opciones" id="tipoPensionAltaExpediente" name="categoria">
                            <option value="separador">Selecciona una opción:</option>
                            <option value="separador" disabled>────| 97 |────</option>
                            <option value="97 - CE">97 - CE</option>
                            <option value="97 - VE">97 - VE</option>
                            <option value="97 - ASC">97 - ASC</option>
                            <option value="97 - OR">97 - OR</option>
                            <option value="97 - VI">97 - VI</option>
                            <option value="97 - VO">97 - VO</option>
                            <option value="97 - IPP">97 - IPP</option>
                            <option value="97 - INV">97 - INV</option>
                            <option value="97 - IG">97 - IG</option>
                            <option value="separador" disabled>────| 73 |────</option>
                            <option value="73 - CE">73 - CE</option>
                            <option value="73 - VE">73 - VE</option>
                            <option value="73 - ASC">73 - ASC</option>
                            <option value="73 - OR">73 - OR</option>
                            <option value="73 - VI">73 - VI</option>
                            <option value="73 - VO">73 - VO</option>
                            <option value="73 - IPN">73 - IPN</option>
                            <option value="73 - INV">73 - INV</option>
                            <option value="73 - IG">73 - IG</option>
                        </select>
                    </div>
                </div>

                <div class="row space-between">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <label class="dark-label" for="delegacionAltaExpediente">DELEGACIÓN</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <select class="opciones" id="delegacionAltaExpediente" name="delegacion">    
                            <option value="separador">Selecciona una opción:</option>
                        </select>
                    </div>
                </div>

                <div class="row space-between">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <label class="dark-label" for="ubicacionAltaExpediente">UBICACIÓN</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <select class="opciones" id="ubicacionAltaExpediente" name="ubicacion">    
                            <option value="separador">Selecciona una opción:</option>
                            <option value="Bodega">Bodega</option>
                            <option value="Ley 73">Ley 73</option>
                            <option value="Ley 97">Ley 97</option>
                            <option value="IG">IG</option>
                        </select>
                    </div>
                </div>
                <div class="row space-between">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label class="dark-label" for="añoAltaExpediente">AÑO</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <input type="number" class="text-input" id="añoAltaExpediente" name="año"/>
                        <select class="opciones" id="ubicacionAltaExpediente" name="ubicacion">    
                            <option value="separador">Selecciona una opción:</option>
                            <option value="Bodega">Bodega</option>
                            <option value="Ley 73">Ley 73</option>
                            <option value="Ley 97">Ley 97</option>
                            <option value="IG">IG</option>
                        </select>
                    </div>
                </div>
                
                <div class="row space-between">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="dark-label" for="observacionesAltaExpediente">OBSERVACIONES</label> 
                        <textarea class="text-input mt-3" id="observacionesAltaExpediente" name="observaciones"></textarea>
                    </div>
                </div>
                
        </div>
            
            
            <div class="col-lg-3 col-md-3 col-sm-3 vertical-center">
                <button class="img-btn" type="submit">
                    <div class="row">
                        <img src="/icons/guardar.png" class="col-lg-6 col-md-12 col-sm-12 vertical-center" alt="GUARDAR">
                        <p class="col-lg-6 col-md-12 col-sm-12 vertical-center" style="margin: 0;">GUARDAR</p>   
                    </div>
                </button>

                <button class="img-btn" type="reset">
                    <div class="row">
                        <img src="/icons/folder_cancelar.png"  class="col-lg-6 col-md-12 col-sm-12 vertical-center" alt="CANCELAR">
                        <p  class="col-lg-6 col-md-12 col-sm-12 vertical-center" style="margin: 0;">CANCELAR</p>  
                    </div>   
                </button>
            </div>
        </form>

    </div> 
