
    <div class="row">

        <div class="col-9">
            <form id="formBusquedaExpedienteConsulta">
                <div class="row space-between">
                    <div class="col-2">
                        <label class="dark-label" for="nssBusquedaExpedienteConsulta">NSS</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="text-input" id="nssBusquedaExpedienteConsulta" name="nss"/>
                    </div>
                    <!--LUPA-->
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn-verde" type="submit" style="margin-top: 0; font-family: none; justify-content: center; display: flex;">
                                <img src="/icons/lupa.png" alt="BUSCAR" style="width: 1rem;">
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row space-between">
                <div class="col-3">
                    <label class="dark-label" for="nombreBusquedaExpedienteConsulta">NOMBRE</label>
                </div>
                <div class="col-9">
                    <input type="text" class="text-input bloqueado" id="nombreBusquedaExpedienteConsulta" readonly/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-5">
                    <label class="dark-label" for="tipoPensionBusquedaExpedienteConsulta">TIPO DE PENSIÓN</label>
                </div>
                <div class="col-7">
                    <input type="text" class="text-input bloqueado" id="tipoPensionBusquedaExpedienteConsulta" readonly/>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-2">
                    <label class="dark-label" for="añoBusquedaExpedienteConsulta">AÑO</label>
                </div>
                <div class="col-4">
                    <input type="text" class="text-input bloqueado" id="añoBusquedaExpedienteConsulta" readonly/>
                </div>
                <div class="col-3">
                    <label class="dark-label" for="estatusBusquedaExpedienteConsulta">ESTATUS</label>
                </div>
                <div class="col-3">
                    <input type="text" class="text-input bloqueado" id="estatusBusquedaExpedienteConsulta" readonly/>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-4">
                    <label class="dark-label" for="ubicacionBusquedaExpedienteConsulta">UBICACIÓN</label>
                </div>
                <div class="col-8">
                    <input type="text" class="text-input bloqueado" id="ubicacionBusquedaExpedienteConsulta" readonly/>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-12">
                    <label class="dark-label" for="observacionesBusquedaExpedienteConsulta">OBSERVACIONES</label>
                    <textarea class="text-input bloqueado mt-3" id="observacionesBusquedaExpedienteConsulta" readonly rows="5"></textarea>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-12">
                    <label class="dark-label" for="movimientosBusquedaExpedienteConsulta">MOVIMIENTOS</label> 
                    <!-- FALTA AGREGAR LOS FILTROS QUE NO RECUERDO CUALES ERAN XD-->
                    <textarea class="text-input bloqueado mt-3" id="movimientosBusquedaExpedienteConsulta" readonly rows="5"></textarea>
                </div>
            </div>

        </div>

        <div class="col-3 vertical-center">
            <button class="img-btn" disabled id="btnIngresarExpediente">
                <img src="/icons/folder_azul.png" alt="INGRESAR" style="width: 35%;">
                <p>INGRESAR</p>
            </button>
            <button class="img-btn" disabled id="btnExtraerExpediente">
                <img src="/icons/folder_rojo.png" alt="EXTRAER" style="width: 35%;">
                <p>EXTRAER</p>   
            </button>
        </div>
        
    </div> 
 