
    <div class="row">

        <div class="col-9">
            <form id="formBusquedaExpediente">
                <div class="row space-between">
                    <div class="col-2">
                        <label class="dark-label" for="nssBusquedaExpediente">NSS</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="text-input" id="nssBusquedaExpediente" name="nss"/>
                    </div>
                    <!--LUPA-->
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn-verde" type="submit" style="margin-top: 0; font-family: none; justify-content: center; display: flex;">
                                <img src="/icons/lupa.png" alt="BUSCAR" style="width: 1rem;">
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row space-between">
                <div class="col-3">
                    <label class="dark-label" for="nombreBusquedaExpediente">NOMBRE</label>
                </div>
                <div class="col-9">
                    <input type="text" class="text-input bloqueado" id="nombreBusquedaExpediente" readonly/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-5">
                    <label class="dark-label" for="tipoPensionBusquedaExpediente">TIPO DE PENSIÓN</label>
                </div>
                <div class="col-7">
                    <input type="text" class="text-input bloqueado" id="tipoPensionBusquedaExpediente" readonly/>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-2">
                    <label class="dark-label" for="añoBusquedaExpediente">AÑO</label>
                </div>
                <div class="col-4">
                    <input type="text" class="text-input bloqueado" id="añoBusquedaExpediente" readonly/>
                </div>
                <div class="col-3">
                    <label class="dark-label" for="estatusBusquedaExpediente">ESTATUS</label>
                </div>
                <div class="col-3">
                    <input type="text" class="text-input bloqueado" id="estatusBusquedaExpediente" readonly/>
                </div>
            </div>

            <div class="row space-around">
                <div class="col-4">
                    <label class="dark-label" for="ubicacionBusquedaExpediente">UBICACIÓN</label>
                </div>
                <div class="col-8">
                    <input type="text" class="text-input bloqueado" id="ubicacionBusquedaExpediente" readonly/>
                </div>
            </div>


            <div class="row space-around">
                <div class="col-12">
                    <label class="dark-label" for="movimientosBusquedaExpediente">MOVIMIENTOS</label> 
                    <!-- FALTA AGREGAR LOS FILTROS QUE NO RECUERDO CUALES ERAN XD-->
                    <textarea class="text-input bloqueado mt-3" id="movimientosBusquedaExpediente" readonly rows="5"></textarea>
                </div>
            </div>

        </div>

        <div class="col-3 vertical-center">
            <button class="img-btn" disabled id="btnIngresarExpediente">
                <img src="/icons/folder_azul.png" alt="INGRESAR" style="width: 35%;">
                <p>INGRESAR</p>
            </button>
            <button class="img-btn" disabled id="btnExtraerExpediente">
                <img src="/icons/folder_rojo.png" alt="EXTRAER" style="width: 35%;">
                <p>EXTRAER</p>   
            </button>
        </div>
        
    </div> 
 