<div class="container">
    <div class="row">
        <div class="col-3 vertical-center">
            <img src="/imgs/foto.png" alt="ICONO DE FOTO" class="foto_usuario">
        </div>
        <div class="col-9">
            <form id="formBusquedaUsuario">
                <div class="row space-between">
                    <div class="col-3">
                        <label class="dark-label" for="matriculaUsuario">MATRÍCULA</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="text-input" id="matriculaUsuario" name="matricula"/>
                    </div>
                    <!--LUPA-->
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn-verde" style="margin-top: 0; font-family: none; justify-content: center; display: flex;" id="btnBusquedaUsuario">
                                <img src="/icons/lupa.png" alt="BUSCAR" style="width: 1rem;">
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row space-between">
                <div class="col-3">
                    <label class="dark-label" for="nombreBusquedaUsuario">NOMBRE</label>
                </div>
                <div class="col-9">
                    <input type="text" class="text-input" id="nombreUsuario"/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-4">
                    <label class="dark-label" for="adscripcionBusquedaUsuario">ADSCRIPCIÓN</label>
                </div>
                <div class="col-8">
                    <input type="text" class="text-input" id="adscripcionUsuario"/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-4">
                    <label class="dark-label" for="fechaRegUsuario">FECHA DE REGISTRO</label>
                </div>
                <div class="col-3">
                    <input type="text" class="text-input" id="fechaRegUsuario"/>
                </div>
                <div class="col-3">
                    <label class="dark-label" for="estatusUsuario">ESTATUS</label>
                </div>
                <div class="col-2">
                    <input type="text" class="text-input bloqueado" id="estatusUsuario" readonly/>
                </div>
            </div>

        </div>
        
    </div> 
 
</div>

<div class="d-flex space-between mt-2">
    <button class="btn-trans">
     <div class="col">
         <img src="/icons/alta.png" alt="ALTA" style="width: 1rem;">
         <p>ALTA USUARIO</p>
     </div>           
    </button>
    <button class="btn-trans">
     <div class="col">
         <img src="/icons/baja.png" alt="BAJA" style="width: 1rem;">
         <p>BAJA USUARIO</p>
     </div>        
    </button>
    <button class="btn-trans">
     <div class="col">
         <img src="/icons/cancelar.png" alt="CANCELAR" style="width: 1rem;">
         <p>CANCELAR</p>
     </div> 
    </button>
</div>

<script src="/js/controlUsuarios.js"></script>