<div class="row" style="margin-top: 1rem">
    <table class="tabla">
        <thead>
            <th>MOVIMIENTO</th>
            <th>FECHA</th>
            <th>ESTADO</th>
        </thead>
        <tbody id="tablaPeticiones">
        </tbody>
    </table>
</div>
