<div class="row" style="margin-top: 1rem">
    <table class="tabla">
        <thead>
            <th>FOLIO</th>
            <th>TIPO DE MOVIMIENTO</th>
            <th>NSS DE EXPEDIENTE</th>
            <th>FECHA</th>
        </thead>
        <tbody id="tablaHistorial">
            <tr>
                <td>1</td>
                <td>TRANSFERENCIA</td>
                <td>908080909090</td>
                <td>2023-05-31</td>
                <td>
                    <button class="btn-verde" style="padding: 0 2rem;">REIMPRIMIR</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>EXTRACCIÓN</td>
                <td>999999999</td>
                <td>2023-06-01</td>
                <td>
                    <button class="btn-verde" style="padding: 0 2rem;">REIMPRIMIR</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
