<div class="container">
   <div class="row align-items-center">
        <div class="col-md-4 col-lg-4 col-sm-12 vertical-center">
            <img src="/imgs/foto.png" alt="ICONO DE FOTO" class="foto_usuario" id="fotoPerfil" loading="lazy">
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <table style="width: 95%;">
                <tr>
                    <td><p class="dark-label">MATRÍCULA</p></td>
                    <td><p class="datos" id="matriculaPerfil"></p></td>
                </tr>
                <tr>
                    <td><p class="dark-label">NOMBRE</p></td>
                    <td><p class="datos" id="nombrePerfil"></td>
                </tr>
                <tr>
                    <td><p class="dark-label">FECHA DE REGISTRO</p></td>
                    <td><p class="datos" id="fechaRegistroPerfil"></td> 
                </tr>               
                <tr>
                    <td><p class="dark-label">ADSCRIPCIÓN</p></td>
                    <td><p class="datos" id="adscripcionPerfil"></td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 vertical-center">
            <button class="btn-verde" id="btnCambiarPass" style="margin: 1rem auto;">CAMBIAR CONTRASEÑA</button>
        </div>
    </div>
    <br><br><br>
    <hr>
    <h2 class="dark-label">IMPRESORA DE TICKETS</h2>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 vertical-center">
            <button class="btn-verde" id="btnProbarImpresora" style="margin: 1rem auto;"><span>PROBAR IMPRESORA</span></button>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 vertical-center">
            <button class="btn-verde" id="btnImprimirPrueba" style="margin: 1rem auto;">IMPRIMIR PRUEBA</button>
        </div>
    </div>
</div>

<%- include('../modals/cambiarPass')%>