<div class="container">
   <div class="row align-items-center">
    <div class="col-3 vertical-center">
        <img src="/imgs/foto.png" alt="ICONO DE FOTO" style="width: 100%;">
        <button class="btn-verde">CAMBIAR CONTRASEÑA</button>
    </div>
    <div class="col-9">
            <table style="width: 95%;">
                <tr>
                    <td><p class="dark-label" for="usuarioMatricula">MATRÍCULA</p></td>
                    <td><p class="datos">123-123-123</p></td>
                </tr>
                <tr>
                    <td><p class="dark-label" for="usuarioNombre">NOMBRE</p></td>
                    <td><p class="datos">123-123-123</p></td>
                </tr>
                <tr>
                    <td><p class="dark-label" for="usuarioFechaR">FECHA DE REGISTRO</p></td>
                    <td><p class="datos">123-123-123</p></td> 
                </tr>               
                <tr>
                    <td><p class="dark-label" for="usuarioAdscripcion">ADSCRIPCIÓN</p></td>
                    <td><p class="datos">123-123-123</p></td></td>
                  </tr>
              </table>
       
    </div>
   </div> 
</div>