<div class="container">
   <div class="row align-items-center">
        <div class="col-3 vertical-center">
            <img src="/imgs/foto.png" alt="ICONO DE FOTO" class="foto_usuario" id="fotoPerfil" loading="lazy">
            <button class="btn-verde" id="btnPass" style="margin: 1rem auto;">CAMBIAR CONTRASEÑA</button>
        </div>
        <div class="col-9">
            <table style="width: 95%;">
                <tr>
                    <td><p class="dark-label">MATRÍCULA</p></td>
                    <td><p class="datos" id="matriculaPerfil"></p></td>
                </tr>
                <tr>
                    <td><p class="dark-label">NOMBRE</p></td>
                    <td><p class="datos" id="nombrePerfil"></td>
                </tr>
                <tr>
                    <td><p class="dark-label">FECHA DE REGISTRO</p></td>
                    <td><p class="datos" id="fechaRegistroPerfil"></td> 
                </tr>               
                <tr>
                    <td><p class="dark-label">ADSCRIPCIÓN</p></td>
                    <td><p class="datos" id="adscripcionPerfil"></td></td>
                </tr>
            </table>
        </div>
    </div> 
</div>

<%- include('../modals/cambiarPass')%>