<div class="container">
   <div class="row align-items-center">
    <div class="col-3 vertical-center">
        <img src="/imgs/foto.png" alt="ICONO DE FOTO" style="width: 100%;">
        <button class="btn-verde">CAMBIAR CONTRASEÑA</button>
    </div>
    <div class="col-9">
            <table style="width: 95%;">
                <tr>
                    <td><p class="dark-label" for="usuarioMatricula">MATRÍCULA</p></td>
                    <td><input type="text" name="matricula" id="usuarioMatricula" class="text-input bloqueado" value="123-123-123"/></td>
                </tr>
                <tr>
                    <td><p class="dark-label" for="usuarioNombre">NOMBRE</p></td>
                    <td> <input type="text" name="nombre" id="usuarioNombre" class="text-input bloqueado" value="KARLA LETICIA ESPINOZA LERMA"/></td>
                </tr>
                <tr>
                    <td><p class="dark-label" for="usuarioFechaR">FECHA DE REGISTRO</p></td>
                    <td><input type="datetime" name="fecha" id="usuarioFechaR" class="text-input bloqueado" value="01-01-2023"/></td>
                </tr>               
                <tr>
                    <td><p class="dark-label" for="usuarioAdscripcion">ADSCRIPCIÓN</p></td>
                    <td><input type="text" name="adscripcion" id="usuarioAdscripcion" class="text-input bloqueado" value="123-123-123"/></td>
                  </tr>
              </table>
       
    </div>
   </div> 
</div>