
    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <p class="dark-label">USUARIOS ACTIVOS</p>        
        <button class="btn-verde">
            <img src="/icons/agregar_usuario.png" alt="AGREGAR USUARIO" style="width: 2rem;">
        </button>
    </div> 
    <div class="row"  style="margin-top: 1rem">
        <table>
            <thead>
                    <th>MATRÍCULA</th>
                    <th>NOMBRE</th>
                    <th>ADSCRIPCIÓN</th>
                    <th>FECHA DE REGISTRO</th>
                    <th></th>
            </thead>
            <tr>
                <td>matricula</td>
                <td>nombre</td>
                <td>adscoipncipmn</td>
                <td>fecha 01 01 101</td>
                <td>
                    <button class="btn-azul">
                        <img src="/icons/pen.png" alt="EDITAR" style="width: 1rem;">
                    </button>
                    <button class="btn-rojo">
                        <img src="/icons/flecha_baja.png" alt="BAJA" style="width: 1rem;">
                    </button>
                </td>
            </tr>
            <tr>
                <td>matricula</td>
                <td>nombre</td>
                <td>adscoipncipmn</td>
                <td>fecha 01 01 101</td>
                <td>
                    <div style="justify-content: space-between;">
                        <button class="btn-azul">
                            <img src="/icons/pen.png" alt="EDITAR" style="width: 1rem;">
                        </button>
                        <button class="btn-rojo">
                            <img src="/icons/flecha_baja.png" alt="BAJA" style="width: 1rem;">
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    
    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <p class="dark-label">USUARIOS INACTIVOS</p>        
    </div> 

    <div class="row"  style="margin-top: 1rem">
        <table>
            <thead>
                    <th>MATRÍCULA</th>
                    <th>NOMBRE</th>
                    <th>ADSCRIPCIÓN</th>
                    <th>FECHA DE REGISTRO</th>
                    <th></th>
            </thead>

            <tr>
                <td>matricula</td>
                <td>nombre</td>
                <td>adscoipncipmn</td>
                <td>fecha 01 01 101</td>
                <td>
                    <button class="btn-verde" style="width: 40px; height: 40px;">
                        <img src="/icons/flecha_vuelta.png" alt="EDITAR" style="width: 1rem;">
                    </button>
                </td>
            </tr>
            
        </table>
    </div>