    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <p class="dark-label">USUARIOS ACTIVOS</p>        
        <button class="btn-verde" id="btnAgregarUsuario">
            <img src="/icons/agregar_usuario.png" alt="AGREGAR USUARIO" style="width: 2rem; margin-bottom: 0;">
            <span class="tooltiptext">Agregar Usuario</span>
        </button>
    </div> 
    <div class="row" style="margin-top: 1rem">
        <table class="tabla">
            <thead>
                    <th>MATRÍCULA</th>
                    <th>NOMBRE</th>
                    <th>ADSCRIPCIÓN</th>
                    <th>FECHA DE REGISTRO</th>
            </thead>
            <tbody id="tablaUsuariosActivos">
            </tbody>
        </table>
    </div>
    
    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <p class="dark-label">USUARIOS INACTIVOS</p>        
    </div> 

    <div class="row"  style="margin-top: 1rem">
        <table class="tabla">
            <thead>
                    <th>MATRÍCULA</th>
                    <th>NOMBRE</th>
                    <th>ADSCRIPCIÓN</th>
                    <th>FECHA DE REGISTRO</th>
                    <th></th>
            </thead>
            
            <tbody id="tablaUsuariosInactivos">
            </tbody>
        </table>
    </div>

    <%- include('../../modals/agregarUsuario')%>
    <%- include('../../modals/editarUsuario')%>