<div class="row" style="margin-top: 1rem">
    <table>
        <thead>
                <th>MATRÍCULA</th>
                <th>NOMBRE</th>
                <th>MOVIMIENTO</th>
                <th>FECHA</th>
        </thead>
        <tbody id="tablaPeticiones">
            <tr>
                <td>1</td>
                <td>Erick Pinzón</td>
                <td>-Movimiento- de Expediente -NSS-</td>
                <td>2023-05-31</td>
                <td>
                    <button class="btn-azul">
                        <img src="/icons/littledove.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Aceptar</span>
                    </button>
                    <button class="btn-rojo">
                        <img src="/icons/x.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Rechazar</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>Erick Pinzón</td>
                <td>Baja de Expediente 1234567890 </td>
                <td>2023-06-01</td>
                <td>
                    <button class="btn-azul">
                        <img src="/icons/littledove.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Aceptar</span>
                    </button>
                    <button class="btn-rojo">
                        <img src="/icons/x.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Rechazar</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Gaby Soto Zepeda</td>
                <td>Transferencia de Expediente 1234567890</td>
                <td>2023-05-31</td>
                <td>
                    <button class="btn-azul">
                        <img src="/icons/littledove.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Aceptar</span>
                    </button>
                    <button class="btn-rojo">
                        <img src="/icons/x.png" alt="BAJA" style="width: 1rem;">
                        <span class="tooltiptext">Rechazar</span>
                    </button>
                </td>
            </tr>


        </tbody>
    </table>
</div>
