
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <form id="formBajaExpediente">
            
            <form id="formBusquedaExpediente">
                <div class="row space-between">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <label class="dark-label" for="nssBusquedaExpediente">NSS</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <input type="number" class="text-input" id="nssBusquedaExpediente" name="nss"/>
                    </div>
                    <!--LUPA-->
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn-verde" type="submit" style="margin-top: 0; font-family: none; justify-content: center; display: flex;">
                                <img src="/icons/lupa.png" alt="BUSCAR" style="width: 1rem;">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        

            <div class="row space-between">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="dark-label" for="nombreBusquedaExpediente">NOMBRE</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <input type="text" class="text-input bloqueado" id="nombreBusquedaExpediente" name="nombre" readonly/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="dark-label" for="tipoPensionBusquedaExpediente">TIPO DE PENSIÓN</label>
                </div>
                <div class="col-lg-7 col-md-7 col-smg-7">
                   <input type="text" class="text-input bloqueado" name="tipoPensionBusquedaExpediente" id="" value="" readonly/>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="dark-label" for="delegacion">DELEGACIÓN</label>
                </div>
                <div class="col-7">
                    <input type="text" class="text-input bloqueado" id="delegacion" readonly>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="dark-label" for="ubicacionBusquedaExpediente">UBICACIÓN</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                   <input type="text" class="text-input bloqueado" id="ubicacionBusquedaExpediente" readonly>
                </div>
            </div>

            <div class="row space-between mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="dark-label">TRANSFERIR EXPEDIENTE A:</p>
                </div>
            </div>
            
            <div class="row space-between">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="dark-label" for="tipoPensionAltaExpediente">DELEGACIÓN</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <select id="opciones" id="tipoPensionBusquedaExpediente" name="delegacion">    
                        <option value="separador">Selecciona una opción:</option>
                        <option value="1">Delegacion 1</option>
                        <option value="2">Delegacion 2</option>
                    </select>
                </div>
            </div>

            <div class="row space-between">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="dark-label" for="motivoTransExpediente">MOTIVO</label> 
                    <textarea class="text-input mt-3" id="motivoTransExpediente" name="motivo"></textarea>
                </div>
            </div>
            
        </div>
        
        
        <div class="col-lg-3 col-md-3 col-sm-3 vertical-center">   

            <button class="img-btn" type="submit">
                <div class="row">
                    <img src="/icons/guardar.png" class="col-lg-6 col-md-12 col-sm-12 vertical-center" alt="GUARDAR">
                    <p class="col-lg-6 col-md-12 col-sm-12 vertical-center" style="margin: 0;">GUARDAR</p>   
                </div>
            </button>
  

            <button class="img-btn" type="reset">
                <div class="row">
                    <img src="/icons/folder_cancelar.png" class="col-lg-6 col-md-12 col-sm-12 vertical-center" alt="CANCELAR">
                    <p class="col-lg-6 col-md-12 col-sm-12 vertical-center" style="margin: 0;">CANCELAR</p>   
                </div>
            </button>
        </div>
    </form>
      
    <!-- <script src="/js/consultaExpediente.js"></script> -->

</div> 
